on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

name: Release

jobs:
  build_release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [nightly]

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: "recursive"

      - name: Cache cargo
        uses: actions/cache@v5
        with:
          path: ~/.cargo
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo

      - name: Cache cargo build
        uses: actions/cache@v5
        with:
          path: target
          key: ${{ runner.os }}-${{ matrix.rust }}-build-target-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-${{ matrix.rust }}-build-target-

      - name: Clone wipi
        run: cd ..;git clone https://github.com/dlunch/wipi

      - run: ./release.sh

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: release
          path: target/*.zip
