on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

name: Rust CI

jobs:
  rust_ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        rust: [nightly]

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: "recursive"

      - name: Cache cargo
        uses: actions/cache@v5
        with:
          path: ~/.cargo
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo

      - name: Cache cargo build
        uses: actions/cache@v5
        with:
          path: target
          key: ${{ runner.os }}-${{ matrix.rust }}-build-target-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-${{ matrix.rust }}-build-target-

      - run: cargo fmt --all -- --check
      - run: cargo clippy --all -- -D warnings
      - run: cargo clippy --all "-Zbuild-std=core,alloc" --target thumbv4t-none-eabi --features ktf --no-default-features -- -D warnings
      - run: cargo clippy --all "-Zbuild-std=core,alloc" --target thumbv4t-none-eabi --features lgt --no-default-features -- -D warnings

      - run: cargo test --all
